{% extends 'base.html.twig' %}
{% block body %}
   <div class="text-center">
       <h1>Activ</h1>
       <div class="jumbotron text-center">
           <calendar></calendar>
       </div>
   </div>
{% endblock %}
